@import '../../assets/styles/global';

.Button {
  &.only-icon {
    .ant-btn {
      width: 4.4rem;
      padding: 0;
    }

    .Button {
      &-icon {
        margin: 0;
      }
    }
  }

  &.reverse {
    .Button {
      &-icon {
        margin-left: 0;
        margin-right: .4rem;
      }
    }

    .ant-btn {
      flex-direction: row-reverse;
    }
  }

  &-icon {
    flex: 0 0 1.4rem;
    max-width: 1.4rem;
    margin-left: .4rem;
  }

  .ant-btn {
    border-radius: .5rem;
    height: 4.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    border: 1px solid transparent;
    background: transparent;
    padding: 0 1rem;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;

    &.ant-btn-lg {
      height: 5.6rem;
      padding: 0 1.6rem;
    }

    &.ant-btn-default {
      color: $white;
      border-color: $shamrock;
    }

    &.ant-btn-dangerous {
      background: $pomegranate;
      border-color: $pomegranate;
      color: $white;
    }

    &.ant-btn-primary {
      border-color: $shamrock;
      background: $shamrock;
      color: $white;
    }
  }

  &.outline-white {
    .ant-btn {
      border-color: $white;
      background: $shamrock;
      color: $white;
    }
  }

  &.outline-primary {
    .ant-btn {
      border-color: $shamrock;
      background: $white;
      color: $shamrock;
    }
  }

  &.black {
    .ant-btn {
      border-color: $woodsmoke;
      background: $woodsmoke;
      color: $white;
    }
  }

  &.violet {
    .ant-btn {
      border-color: $electric-violet;
      background: $electric-violet;
      color: $white;
    }
  }

  &.admin-style {
    &.black {
      .ant-btn {
        border-color: $woodsmoke;
      }
    }

    &.violet {
      .ant-btn {
        border-color: $electric-violet;
      }
    }

    .ant-btn {
      border-color: $mercury;
      border-radius: .3rem;
      font-size: 1.6rem;
      font-weight: 300;
      text-transform: uppercase;

      &.ant-btn-lg {
        height: 4.5rem;
      }

      &.atn-btn-primary {
        border-color: $shamrock;
      }

      &.ant-btn-dangerous {
        border-color: $pomegranate;
      }

      &:hover {
        border-color: $shamrock;
        ;
      }
    }
  }

  .ant-btn[disabled],
  .ant-btn[disabled]:hover,
  .ant-btn[disabled]:focus,
  .ant-btn[disabled]:active {
    color: rgba($black, 0.25) !important;
    border-color: $mercury !important;
    background: $mercury !important;
    cursor: not-allowed !important;
    text-shadow: none;
    box-shadow: none;
  }
}