@import '../../assets/styles/global';

.Services {
  padding: 6rem 0;

  &-wrapper {
    &-item {
      &:nth-child(1) {
        flex: 0 0 40%;
        max-width: 40%;
        margin-right: 5rem;
      }

      &:nth-child(2) {
        flex: 1;
      }

      @media (max-width: 991px) {
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }
    }
  }


  .animation {
    display: block;
    animation: slideUp 1s linear forwards;

    @keyframes slideUp {
      0% {
        opacity: 0;
        transform: translateY(25%);
      }

      100% {
        opacity: 1;
        transform: translateY(0%);
      }
    }
  }

  &-item {
    &-image {
      display: none;

      @media (max-width: 991px) {
        max-width: 80rem;
        margin: 0 auto 3rem;
      }

      img {
        width: 100%;
      }
    }
  }

  &-card {
    padding: 3rem 2.5rem;
    border-radius: .5rem;
    flex: 0 0 calc(100% / 2 - .9rem);
    max-width: calc(100% / 2 - .9rem);
    margin-bottom: 1.8rem;
    cursor: pointer;
    transition: $common-transition;
    border: 1px solid $silver;

    @media (max-width: 768px) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    &.active,
    &:hover {
      border-color: transparent;
      background: $white;
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.08), 0 16px 48px 0 rgba(0, 0, 0, 0.1);

      .Services-card {
        &-info {
          &-title {
            color: $shamrock;
          }
        }
      }
    }

    &-icon {
      flex: 0 0 2.8rem;
      max-width: 2.8rem;
      height: 2.8rem;
      margin-right: 1.2rem;

      .Icon svg {
        width: 100%;
        height: 100%;
      }
    }

    &-info {
      &-title {
        transition: $common-transition;
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
      }

      &-description {
        font-size: 1.6rem;
        font-weight: 300;
      }
    }
  }
}