@import '../../assets/styles/global';

.DatePicker {
  .ant-picker {
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    min-height: 4.4rem;
    width: 100%;
    padding: 1rem 1.5rem;

    .ant-picker-input input {
      font-size: 1.6rem;
      font-weight: 300;

      &::placeholder {
        color: $gray;
        font-weight: 300;
      }
    }


  }
}