@import '../../assets/styles/global';

.DatePicker {
  .ant-picker {
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    min-height: 4.5rem;
    width: 100%;
    padding: 1rem 1.5rem;

    .ant-picker-input input {
      font-size: 1.6rem;
      font-weight: 300;

      &::placeholder {
        color: $gray;
        font-weight: 300;
      }
    }
  }

  &.admin-style {
    .ant-picker {
      box-shadow: none;
      border-radius: .3rem;
      padding: .5rem 1rem;
      border: 1px solid $mercury;
      min-height: 4.5rem;

      .ant-picker-clear {
        width: 18px;
        display: flex;
        justify-content: center;
      }

      .ant-picker-input input::placeholder {
        text-transform: uppercase;
      }

      &:hover {
        border-color: $shamrock;
      }

      &:focus,
      &.ant-picker-focused {
        border-color: $shamrock;
        box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.3);
      }
    }
  }

  &-dropdown {
    .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
      border-color: $shamrock;
    }

    .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
    .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
    .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
      background-color: $shamrock;
    }

    .ant-picker-today-btn {
      color: $shamrock;
    }

    .ant-picker-header-view button:hover {
      color: $shamrock;
    }
  }
}