@import '../../assets/styles/global';

.PrivacyPolicyModal {
  &-wrapper {
    .Modal-body {
      padding: 4rem 0 8rem;
    }
  }

  &-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  &-content {
    padding: 1.6rem;
  }
}