@import '../../assets/styles/global';

.Checkbox {
  .ant-checkbox-wrapper {
    display: flex;
    align-items: center;

    span {
      font-size: 1.6rem;
      color: $black;
      font-weight: 300;
    }

    .ant-checkbox {
      top: 0;

      &-inner {
        background: $white;
        border-color: $white;
        width: 2rem;
        height: 2rem;
        border-radius: .5rem;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

        &::after {
          top: 45%;
          left: 20%;
          display: table;
          width: .6rem;
          height: 1.2rem;
        }
      }
    }

    &:hover .ant-checkbox-inner,
    .ant-checkbox:hover .ant-checkbox-inner,
    .ant-checkbox-input:focus+.ant-checkbox-inner {
      border-color: $shamrock;
    }

    .ant-checkbox-checked {
      .ant-checkbox-inner {
        background-color: $shamrock;
        border-color: $shamrock;
      }

      &::after {
        border-radius: .5rem;
        border-color: $shamrock;
      }
    }
  }
}