@import '../../assets/styles/global';

.Table {
  padding: 2rem 2.2rem;

  &-image {
    img {
      max-width: 20rem;
      width: 100%;
    }
  }

  .ant-table-thead>tr>th,
  .ant-table-tbody>tr>td,
  .ant-table tfoot>tr>th,
  .ant-table tfoot>tr>td {
    padding: 1.6rem;
  }

  .ant-table {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-color: $mercury;

    .ant-table-thead>tr>th {
      background: $white;
      white-space: nowrap;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.8rem;

      &::before {
        height: 100% !important;
      }
    }

    .ant-table-content {
      overflow: auto hidden;
    }

    .ant-table-tbody {
      &>tr {
        &:nth-child(even)>td {
          background: rgba($porcelain, 0.7);
        }

        &>td {
          text-align: center;
          border-color: $mercury;
          font-size: 1.6rem;
          font-weight: 300;
          background: $white;
        }
      }
    }
  }

  &-main {
    &-header {
      margin-bottom: -1rem;

      &-item {
        &:first-child {
          .Table-main-header-item {
            &-control {
              &:not(:last-child) {
                margin-right: 1rem;
              }
            }
          }
        }

        &:last-child {
          .Table-main-header-item {
            &-control {
              &:not(:last-child) {
                margin-right: 1rem;
              }
            }
          }
        }

        &-control {
          margin-bottom: 1rem;
        }
      }
    }

    &-body {
      margin: 2rem 0;

      .ant-spin {
        .ant-spin-dot-item {
          background: $shamrock;
        }
      }
    }

    &-footer {
      &-item {
        font-size: 1.6rem;

        .Select {
          margin-left: 1.2rem;
        }

        &-goto {
          .Input {
            margin: 0 1rem;
            width: 10rem;

            .ant-input {
              height: 5rem;
            }
          }

          .Button {
            .ant-btn {
              height: 5rem;

              &.ant-btn-default {
                border-color: $mercury;
                background-color: $alabaster;
                color: $black;
              }
            }
          }
        }
      }
    }
  }

  &-image {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
    transition: $common-transition;

    img {
      width: 100%;
      max-width: 32rem;
      height: 100%;
      margin: auto;
      object-fit: cover;
      object-position: center;
    }
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -4px;

    &-item {
      margin: 0 4px 4px 0;
      padding: 4px;
      font-size: 11px;
      line-height: 1;
      white-space: nowrap;
      transition: $common-transition;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &-link {
    font-weight: 600;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }

  &-dropdown {
    .Button {
      &-control {
        width: 35px;
        height: 35px;
        padding: 0;

        &-icon {
          max-width: 18px;
          flex: 0 0 18px;
        }
      }
    }
  }

  &-actions {
    display: flex;
    justify-content: center;
    align-items: center;

    &-item {
      flex: 0 0 2.5rem;
      max-width: 2.5rem;
      margin: 0 .5rem;

      .Button {
        .ant-btn {
          width: 2.5rem;
          height: 2.5rem;
          padding: 0;
          box-shadow: none;
        }
      }
    }
  }

  .ant-table-selection-column {
    .ant-checkbox-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      .ant-checkbox-indeterminate .ant-checkbox-inner::after {
        height: 1.2rem;
        width: 1.2rem;
        left: 50%;
        top: 50%;
        background-color: $shamrock;
      }

      span {
        font-size: 1.6rem;
        color: $black;
        font-weight: 300;
      }

      .ant-checkbox {
        top: 0;

        &-inner {
          background: $white;
          border-color: $white;
          width: 2rem;
          height: 2rem;
          border-radius: .5rem;
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

          &::after {
            top: 45%;
            left: 20%;
            display: table;
            width: .6rem;
            height: 1.2rem;
          }
        }
      }

      &:hover .ant-checkbox-inner,
      .ant-checkbox:hover .ant-checkbox-inner,
      .ant-checkbox-input:focus+.ant-checkbox-inner {
        border-color: $shamrock;
      }

      .ant-checkbox-checked {
        .ant-checkbox-inner {
          background-color: $shamrock;
          border-color: $shamrock;
        }

        &::after {
          border-radius: .5rem;
          border-color: $shamrock;
        }
      }
    }
  }
}