@import '../../../assets/styles/global';

.SearchOrder {
  &-search {
    padding: 2.2rem;

    .ant-form-item {
      margin-bottom: 0;

      &:first-child {
        width: 100%;
      }
    }

    .Button {
      .ant-btn {
        width: 5.5rem;
      }

      &-icon {
        flex: 0 0 3rem;
        max-width: 3rem;
      }
    }
  }
}