@import '../../../assets/styles/global';

.SearchOrder {
  &-search {
    padding: 2.2rem;

    .ant-form-item {
      margin-bottom: 0;

      .Input {
        margin-right: 1rem;
      }
    }
  }
}