/*
- Please follow this tool to name your color, then please define the color in src/common-types/ui.ts also
  https://chir.ag/projects/name-that-color/#6195ED

- If colors same name, please add suffix. Ex: persian-blue, persian-blue-dark, persian-blue-light, ...
*/

$white: #ffffff;
$black: #000000;

$shamrock: #35D298;
$shamrock-alpha-80: rgba($shamrock, 0.8);
$fun-green: #007046;
$silver: #C4C4C4;
$mine-shaft: #222222;
$shark: #2E3034;
$rose-white: #FFFAFA;
$woodsmoke: #141515;
$mercury: #E5E5E5;
$alabaster: #fafafa;
$ahthens-gray: #F5F6F9;
$gray: #878787;
$gallery: #EBEBEB;
$red: #ff0000;
$tory-blue: #13489D;
$tangerine: #F98702;
$geyser: #D8DFE5;
$porcelain: #ECEFF1;
$wild-sand: #f4f4f4;
$pomegranate: #EA3118;
$electric-violet: #6338FA;